<h2>List of All Heroes</h2>
<div>
  <div>
    <label>Hero Name:
      <input #heroName />
    </label>
  </div>
  <div>
    <label>Hero Image:
      <input #heroImageUrl />
    </label>
  </div>
  <button (click)="add(heroName.value, heroImageUrl.value); heroName.value=''; heroImageUrl.value=''">
    Add
  </button>
</div>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <button class='delete' title='Delete Hero' (click)="delete(hero)">X</button>
  </li>
</ul>
